/* Aseguramos que no se recorten las imagenes */
body {
  min-height: 100vh;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.75rem; 
  font-weight: 600;
}

.indice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
}
.indice p{
    padding: 0;
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
}
.personajes {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .personajes {
    flex-direction: row;
  }
}
.puntoRosado {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: salmon;
}

.puntoVerde {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #90ee90;
}

.puntoAzul {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #87cefa;
}

.cartas {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 1rem;
  padding: 3rem;
  border-left: solid 3px #4e4e4e;
  transition: min-height 4s ease;
}

.carta {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  gap: 0.75rem;
}
.tituloCarta {
  font-weight: 600;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.descripcionCarta {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

.cartas::before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #f1c40f;
  border-radius: 100%;
  top: 50%;
  left: -1.5px;
  transform: translate(-50%, -50%);
}